<section style="padding: 20px 180px">

  <div class="row">

    <div class="col-sm-4 mt-2" *ngFor="let person of allPeople">
      <div class="card" style="min-height: 250px">
        <img class="card-img-top" [src]="person.image" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{person.name}}</h4>
          <p class="card-text">{{person.gender}}</p>
          <p class="card-text">{{person.birth_year}}</p>
          <button type="button" class="btn btn-primary" (click)="openDetailsModal(person)">
            See Profile
          </button>

        </div>
      </div>
    </div>

  </div>

  <ul class="pagination pagination-lg justify-content-center" style="margin-top: 30px;">
    <li class="page-item" [ngClass]="!prevNumber ? 'disabled' : ''"><a class="page-link" (click)="getNext('prev')">Previous</a></li>

    <li class="page-item" [ngClass]="!nextNumber ? 'disabled' : ''"><a class="page-link" (click)="getNext('next')">Next</a></li>
  </ul>

</section>


<!-- The Modal -->
<div class="modal " id="viewDetail" *ngIf="clickedPerson" style="display: block;">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{clickedPerson.name}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        Thanks For Viewing.
      </div>

    </div>
  </div>
</div>
