<section style="padding: 20px 180px">

  <div class="row">

    <div class="col-sm-4 mt-2" *ngFor="let person of allPeople">
      <div class="card" style="min-height: 250px">
        <img class="card-img-top" [src]="person.image" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
<!--
    <div class="col-sm-4 p-3 text-white">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 p-3 text-white">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>-->

  </div>
</section>


<!--<div class="accordion">-->
<!--  <div class="">-->
<!--    <div class="card" *ngFor="let person of allPeople">-->
<!--      {{person?.name}}-->
<!--      {{person?.gender}}-->
<!--    </div>-->
<!--    <-->
<!--  </div>button class="btn btn-success btn-lg">View Details</button>-->
<!--</div>-->
